[Desktop Entry]
Encoding=UTF-8
Name=PlayMusic audio player
Icon=playmusic.png
Comment=A simple lightweight GUI for audio players
Exec=playmusic
Terminal=false
Type=Application
Categories=Audio
GenericName=Audio player
